.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 40%;
  max-width: 3600%;
  max-height: 60%;
  background-color: pink;
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
  border-radius: 20px; 
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: white;
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(250, 112, 165);
  border-radius: 50%;
  padding: .5rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(-12deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}
.close {
  font-size: 1.3rem;
  padding: .4rem;
  
}


@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: pink;
    border-radius: 20px;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}
